div#notebook {
 font-family: sans-serif;
 font-size: 13pt;
 line-height: 170%;
 color: #303030;
 -webkit-font-smoothing: antialiased !important;
}
body,
div.body {
 font-family: sans-serif;
 font-size: 13pt;
 color: #303030;
 background-color: #ffffff;
 background: #ffffff;
 -webkit-font-smoothing: antialiased !important;
}
body.notebook_app {
 padding: 0;
 background-color: #ffffff;
 background: #ffffff;
 padding-right: 0px !important;
 overflow-y: hidden;
}
a {
 font-family: sans-serif;
 color: #303030;
 -webkit-font-smoothing: antialiased !important;
}
a:hover,
a:focus {
 color: #2f2f2f;
 -webkit-font-smoothing: antialiased !important;
}
.list_header,
div#notebook_list_header.row.list_header {
 font-size: 13.5pt;
 color: #2f2f2f;
 background-color: #ffffff;
 height: 35px;
}
div#cluster_list_header.row.list_header,
div#running .row.list_header {
 font-size: 14pt;
 color: #303030;
 background: #eeeeee;
 background-color: #eeeeee;
 border-bottom: 2px solid rgba(180,180,180,.30);
}
div#cluster_list > div.list_item.row,
div#cluster_list > div.list_item.row:hover {
 background: #fafafa;
 background-color: #fafafa;
}
div#clusters.tab-pane.active {
 font-size: 15px;
 margin-bottom: 8px;
 height: 24px;
 line-height: 24px;
 padding: 4px 0 4px 0;
}
#running .panel-group .panel .panel-heading {
 font-size: 14pt;
 color: #303030;
 padding: 8px 8px;
 background: #eeeeee;
 background-color: #eeeeee;
}
#running .panel-group .panel .panel-heading a {
 font-size: 14pt;
 color: #303030;
}
#running .panel-group .panel .panel-heading a:focus,
#running .panel-group .panel .panel-heading a:hover {
 font-size: 14pt;
 color: #303030;
}
#running .panel-group .panel .panel-body .list_container .list_item {
 background: #fafafa;
 background-color: #fafafa;
 padding: 2px;
 border-bottom: 2px solid rgba(180,180,180,.30);
}
#running .panel-group .panel .panel-body .list_container .list_item:hover {
 background: #fafafa;
 background-color: #fafafa;
}
#running .panel-group .panel .panel-body {
 padding: 2px;
}
div.running_list_info.toolbar_info {
 font-size: 15px;
 padding: 4px 0 4px 0;
 margin-top: 5px;
 margin-bottom: 8px;
 height: 24px;
 line-height: 24px;
 text-shadow: none;
}
.list_placeholder {
 font-weight: normal;
}
#tree-selector {
 padding: 0px;
}
#project_name > ul > li > a > i.fa.fa-home {
 color: #ff7823;
 font-size: 17pt;
 display: inline-block;
 position: static;
 padding: 0px 0px;
 font-weight: normal;
 text-align: center;
 vertical-align: text-top;
}
.fa-folder:before {
 color: #126dce;
}
.fa-arrow-up:before {
 font-size: 14px;
}
.fa-arrow-down:before {
 font-size: 14px;
}
.folder_icon:before {
 display: inline-block;
 font: normal normal normal 14px/1 FontAwesome;
 font-size: inherit;
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 content: "\f07b";
 color: #126dce;
}
.notebook_icon:before {
 display: inline-block;
 font: normal normal normal 14px/1 FontAwesome;
 font-size: inherit;
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 content: "\f02d";
 position: relative;
 color: #2c85f7 !important;
 top: 0px;
}
.file_icon:before {
 display: inline-block;
 font: normal normal normal 14px/1 FontAwesome;
 font-size: inherit;
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 content: "\f15b";
 position: relative;
 top: 0px;
 color: #d0d0d0 !important;
}
#project_name {
 display: inline-flex;
 padding-left: 7px;
 margin-left: -2px;
 margin-bottom: -20px;
 text-align: -webkit-auto;
 vertical-align: text-top;
}
div#notebook_toolbar div.dynamic-instructions {
 font-family: sans-serif;
 font-size: 15px;
}
div#maintoolbar .container {
 margin-left: -5px !important;
}
span#login_widget > .button,
#logout {
 font-family: sans-serif;
 color: #303030;
 background: #ebebeb;
 background-color: #ebebeb;
 border: 2px solid #e8e8e8;
 font-weight: normal;
 box-shadow: none;
 text-shadow: none;
 border-radius: 2px;
 font-size: inherit;
}
span#login_widget > .button:hover,
#logout:hover {
 color: #2f2f2f;
 background-color: #e4e4e4;
 background: #e4e4e4;
 border-color: #e4e4e4;
 background-image: none;
 box-shadow: none !important;
 border-radius: 2px;
}
span#login_widget > .button:focus,
#logout:focus,
span#login_widget > .button.focus,
#logout.focus,
span#login_widget > .button:active,
#logout:active,
span#login_widget > .button.active,
#logout.active,
.open > .dropdown-togglespan#login_widget > .button,
.open > .dropdown-toggle#logout {
 color: #1c1c1c;
 background-color: #ff7823;
 background: #ff7823;
 border-color: #ff7823;
 background-image: none;
 box-shadow: none !important;
 border-radius: 2px;
}
body > #header #header-container {
 padding-bottom: 0px;
 padding-top: 4px;
 box-sizing: border-box;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
}
body > #header {
 background: #ffffff;
 background-color: #ffffff;
 position: relative;
 z-index: 100;
}
.list_container {
 font-size: 12.0pt;
 color: #303030;
 border: none;
 text-shadow: none !important;
}
.list_container > div {
 border-bottom: 1px solid rgba(180,180,180,.14);
 font-size: 12.0pt;
}
.list_header > div,
.list_item > div {
 padding-left: 0px;
}
.list_header > div input,
.list_item > div input {
 top: 4px;
}
.list_header > div .item_link,
.list_item > div .item_link {
 margin-left: -1px;
 vertical-align: middle;
 line-height: 22px;
 font-size: 12.0pt;
}
.item_icon {
 font-size: 12.0pt;
 vertical-align: middle;
}
.list_item input:not([type="checkbox"]) {
 padding-right: 0px;
 height: auto;
 width: 20%;
 margin: 6px 0 0;
 margin-top: 1px;
}
#button-select-all {
 height: 34px;
 min-width: 55px;
 z-index: 0;
 border: none !important;
 padding-top: 0px;
 padding-bottom: 0px;
 margin-bottom: 0px;
 margin-top: 0px;
 left: -3px;
 border-radius: 0px !important;
}
button#tree-selector-btn {
 height: 34px;
 font-size: 12.0pt;
 border: none;
 left: -3px;
 border-radius: 0px !important;
}
input#select-all.pull-left.tree-selector {
 margin-left: 7px;
 margin-right: 2px;
 margin-top: 2px;
}
input[type="radio"],
input[type="checkbox"] {
 margin-top: 1px;
 line-height: normal;
}
.list_container a {
 font-size: 16px;
 color: #303030;
 border: none;
 text-shadow: none !important;
 font-weight: normal;
 font-style: normal;
}
div.list_container a:hover {
 color: #2f2f2f;
}
div.list_item:hover {
 background-color: #fafafa;
}
.breadcrumb > li {
 font-size: 12.0pt;
 color: #303030;
 border: none;
 text-shadow: none !important;
}
.breadcrumb > li + li:before {
 content: "/\00a0";
 padding: 0px;
 color: #303030;
 font-size: 18px;
}
ul#tabs a {
 font-family: sans-serif;
 font-size: 13pt;
 font-weight: normal;
 font-style: normal;
 border-color: transparent;
 text-shadow: none !important;
}
.nav-tabs {
 font-family: sans-serif;
 font-size: 13pt;
 font-weight: normal;
 font-style: normal;
 background: #ffffff;
 text-shadow: none !important;
 border-color: transparent;
 border-bottom-color: rgba(180,180,180,.30);
}
.nav-tabs > li > a:hover {
 color: #2f2f2f;
 background-color: rgba(180,180,180,.14);
}
.nav-tabs > li > a:active,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
 color: #1c1c1c;
 background-color: #eeeeee;
 border: 1px solid transparent;
 border-bottom-color: transparent;
 cursor: default;
}
.nav > li > a:hover,
.nav > li > a:focus {
 text-decoration: none;
 background-color: rgba(180,180,180,.14);
}
.nav > li.disabled > a,
.nav > li.disabled > a:hover {
 color: #aaaaaa;
}
div#notebook {
 font-family: sans-serif;
 font-size: 13pt;
 padding-top: 4px;
}
.notebook_app {
 background-color: #ffffff;
}
#notebook-container {
 padding: 13px 2px;
 background-color: #ffffff;
 min-height: 0px;
 box-shadow: none;
 width: 980px;
 margin-right: auto;
 margin-left: auto;
}
div#ipython-main-app.container {
 width: 980px;
 margin-right: auto;
 margin-left: auto;
 margin-right: auto;
 margin-left: auto;
}
.container {
 width: 980px;
 margin-right: auto;
 margin-left: auto;
}
div#menubar-container {
 width: 98%;
}
div#header-container {
 width: 98%;
}
.notebook_app #header,
.edit_app #header {
 box-shadow: none !important;
 background-color: #ffffff;
 border-bottom: 2px solid rgba(180,180,180,.14);
}
#header,
.edit_app #header {
 font-family: sans-serif;
 font-size: 13pt;
 box-shadow: none;
 background-color: #ffffff;
}
#header .header-bar,
.edit_app #header .header-bar {
 background: #ffffff;
 background-color: #ffffff;
}
body > #header .header-bar {
 width: 100%;
 background: #ffffff;
}
span.checkpoint_status,
span.autosave_status {
 font-size: small;
 display: none;
}
#menubar,
div#menubar {
 background-color: #ffffff;
 padding-top: 0px !important;
}
#menubar .navbar,
.navbar-default {
 background-color: #ffffff;
 margin-bottom: 0px;
 margin-top: 3px;
 display: none;
}
.navbar {
 border: none;
}
div.navbar-text,
.navbar-text,
.navbar-text.indicator_area,
p.navbar-text.indicator_area {
 margin-top: 8px !important;
 margin-bottom: 0px;
 color: #ff7823;
}
.navbar-default {
 font-family: sans-serif;
 font-size: 13pt;
 background-color: #ffffff;
 border-color: rgba(180,180,180,.14);
 line-height: 1.5em;
 padding-bottom: 0px;
}
.navbar-default .navbar-nav > li > a {
 font-family: sans-serif;
 font-size: 12.5pt;
 color: #303030;
 display: block;
 line-height: 1.5em;
 padding-top: 9px;
 padding-bottom: 6px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
 color: #2f2f2f;
 background-color: rgba(180,180,180,.14);
 border-color: rgba(180,180,180,.14);
 line-height: 1.5em;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
 color: #1c1c1c;
 background-color: rgba(180,180,180,.14);
 border-color: rgba(180,180,180,.14);
 line-height: 1.5em;
}
.navbar-nav > li > .dropdown-menu {
 margin-top: 2px;
}
div.notification_widget.info,
.notification_widget.info,
.notification_widget:active:hover,
.notification_widget.active:hover,
.open > .dropdown-toggle.notification_widget:hover,
.notification_widget:active:focus,
.notification_widget.active:focus,
.open > .dropdown-toggle.notification_widget:focus,
.notification_widget:active.focus,
.notification_widget.active.focus,
.open > .dropdown-toggle.notification_widget.focus,
div#notification_notebook.notification_widget.btn.btn-xs.navbar-btn,
div#notification_notebook.notification_widget.btn.btn-xs.navbar-btn:hover,
div#notification_notebook.notification_widget.btn.btn-xs.navbar-btn:focus {
 color: #126dce;
 background-color: transparent !important;
 border-color: transparent !important;
 padding-bottom: 0px !important;
 margin-bottom: 0px !important;
 font-size: 8pt;
 z-index: 0;
}
div#notification_notebook.notification_widget.btn.btn-xs.navbar-btn {
 font-size: 8pt;
 z-index: 0;
}
.notification_widget {
 color: #126dce;
 z-index: -500;
 font-size: 8pt;
 background: transparent;
 background-color: transparent;
 margin-right: 3px;
 border: none;
}
div.notification_widget.info,
.notification_widget.info {
 display: none !important;
}
#notification_trusted {
 font-family: sans-serif;
 font-size: 13pt;
 color: #126dce;
 border: none;
 background: transparent;
 background-color: transparent;
 margin-bottom: 0px !important;
 margin-top: 6px !important;
}
.edit_mode .modal_indicator:before {
 font-size: 19px;
 color: #ffd5bb;
 content: "E";
 padding-bottom: 0px;
 vertical-align: -webkit-baseline-middle;
 margin-left: 1px;
 margin-bottom: 2px;
}
.command_mode .modal_indicator:before {
 font-family: sans-serif;
 font-size: 19px;
 color: #126dce;
 content: "C";
 padding-bottom: 0px;
 vertical-align: -webkit-baseline-middle;
 margin-left: 1px;
 margin-bottom: 2px;
}
.item_icon {
 color: #126dce;
}
.item_buttons .kernel-name {
 font-size: 13pt;
 color: #126dce;
}
.running_notebook_icon:before {
 color: #009e07 !important;
 font: normal normal normal 15px/1 FontAwesome;
 font-size: 15px;
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 content: "\f10c";
 vertical-align: middle;
}
.item_buttons .running-indicator {
 padding-top: 4px;
 color: #009e07;
 font-family: sans-serif;
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
}
#modal_indicator {
 float: right !important;
 color: #126dce;
 background: #ffffff;
 background-color: #ffffff;
 margin-top: 6px !important;
 margin-left: 1px;
}
#kernel_indicator {
 font-size: 13pt;
 float: right !important;
 color: #ff7823;
 background: #ffffff;
 background-color: #ffffff;
 border-left: 2px solid #ff7823;
 padding-bottom: 2px;
 margin-top: 5px !important;
 margin-left: -2px;
}
#kernel_indicator .kernel_indicator_name {
 font-size: 13pt;
 color: #ff7823;
 background: #ffffff;
 background-color: #ffffff;
 padding-left: 5px;
 padding-right: 5px;
 margin-top: 5px;
 vertical-align: -webkit-baseline-middle;
 padding-bottom: 0px;
}
.kernel_idle_icon:before {
 display: inline-block;
 font: normal normal normal 20px/1 FontAwesome;
 font-size: 19px;
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 content: "\f10c";
 vertical-align: middle;
 margin-left: -3px;
}
.kernel_busy_icon:before {
 display: inline-block;
 font: normal normal normal 20px/1 FontAwesome;
 font-size: 19px;
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 vertical-align: middle;
 margin-left: -3px;
}
i#kernel_indicator_icon {
 vertical-align: sub;
}
div.notification_widget.info,
.notification_widget.info,
.notification_widget:active:hover,
.notification_widget.active:hover,
.open > .dropdown-toggle.notification_widget:hover,
.notification_widget:active:focus,
.notification_widget.active:focus,
.open > .dropdown-toggle.notification_widget:focus,
.notification_widget:active.focus,
.notification_widget.active.focus,
.open > .dropdown-toggle.notification_widget.focus,
div#notification_notebook.notification_widget.btn.btn-xs.navbar-btn,
div#notification_notebook.notification_widget.btn.btn-xs.navbar-btn:hover,
div#notification_notebook.notification_widget.btn.btn-xs.navbar-btn:focus {
 color: #126dce;
 background-color: #ffffff;
 border-color: #ffffff;
}
#notification_area,
div.notification_area {
 float: right !important;
 position: static;
}
.notification_widget,
div.notification_widget {
 margin-right: 0px;
 margin-left: 0px;
 padding-right: 0px;
 vertical-align: text-top !important;
 margin-top: 6px !important;
 z-index: 1000;
}
#kernel_logo_widget,
#kernel_logo_widget .current_kernel_logo {
 display: none;
}

div#ipython_notebook img{                                                                                        
    display:block;
    background: url(logo.png) no-repeat;
    background-size: contain;
    width: 233px;
    height: 33px;
    padding-left: 233px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fa.fa-icon {
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 text-rendering: auto;
}
.fa {
 display: inline-block;
 font: normal normal normal 10pt/1 "FontAwesome", sans-serif;
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}
.dropdown-menu {
 font-family: sans-serif;
 font-size: 13pt;
 box-shadow: none;
 padding: 0px;
 text-align: left;
 border: 2px solid rgba(180,180,180,.30);
 background-color: #ffffff;
 background: #ffffff;
 line-height: 1;
}
.dropdown-menu:hover {
 font-family: sans-serif;
 font-size: 13pt;
 box-shadow: none;
 padding: 0px;
 text-align: left;
 border: 2px solid rgba(180,180,180,.30);
 background-color: #ffffff;
 box-shadow: none;
 line-height: 1;
}
.dropdown-menu > li > a {
 font-family: sans-serif;
 font-size: 12.0pt;
 line-height: 1.1;
 display: block;
 padding: 10px 20px 9px 10px;
 color: #303030;
 background-color: #ffffff;
 background: #ffffff;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
 color: #2f2f2f;
 background-color: rgba(180,180,180,.14);
 background: rgba(180,180,180,.14);
 border-color: rgba(180,180,180,.14);
}
.dropdown-menu .divider {
 height: 1px;
 margin: 0px 0px;
 overflow: hidden;
 background-color: rgba(180,180,180,.30);
}
.dropdown-submenu > .dropdown-menu {
 top: 0px;
 left: 100%;
 margin-top: -2px;
 margin-left: 0px;
 padding-top: 0px;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
 font-family: sans-serif;
 font-size: 12.0pt;
 font-weight: normal;
 color: #aaaaaa;
 padding: none;
 display: block;
 clear: both;
 line-height: 1.1;
 white-space: nowrap;
}
.dropdown-submenu > a:after {
 color: #303030;
 margin-right: -16px;
 margin-top: 0px;
}
.dropdown-submenu:hover > a:after,
.dropdown-submenu:active > a:after,
.dropdown-submenu:focus > a:after,
.dropdown-submenu:visited > a:after {
 color: #ff7823;
 margin-right: -16px;
}
div.kse-dropdown > .dropdown-menu,
.kse-dropdown > .dropdown-menu {
 min-width: 0;
 top: 94%;
}
.btn,
.btn-default {
 font-family: sans-serif;
 color: #303030;
 background: #ebebeb;
 background-color: #ebebeb;
 border: 1px solid #e8e8e8;
 font-weight: normal;
 box-shadow: none;
 text-shadow: none;
 border-radius: 2px;
 font-size: inherit;
}
.btn:hover,
.btn:active:hover,
.btn.active:hover,
.btn-default:hover,
.open > .dropdown-toggle.btn-default:hover,
.open > .dropdown-toggle.btn:hover {
 color: #2f2f2f;
 border: 1px solid #e4e4e4;
 background-color: #e4e4e4;
 background: #e4e4e4;
 background-image: none;
 box-shadow: none !important;
 border-radius: 2px;
}
.btn:active,
.btn.active,
.btn:active:focus,
.btn.active:focus,
.btn:active.focus,
.btn.active.focus,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.btn-default:active:hover,
.btn-default.active:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn:focus,
.open > .dropdown-toggle.btn.focus,
.open > .dropdown-toggle.btn-default {
 color: #1c1c1c;
 border: 1px solid #e4e4e4;
 background-color: #e4e4e4;
 background: #e4e4e4;
 border-color: #e4e4e4;
 background-image: none;
 box-shadow: none !important;
 border-radius: 2px;
}
.item_buttons > .btn,
.item_buttons > .btn-group,
.item_buttons > .input-group {
 margin-left: 5px;
 background: #eeeeee;
 background-color: #eeeeee;
 border: 1px solid #eeeeee;
}
.item_buttons > .btn:hover,
.item_buttons > .btn-group:hover,
.item_buttons > .input-group:hover {
 margin-left: 5px;
 background: #e9e9e9;
 background-color: #e9e9e9;
 border: 1px solid #e9e9e9;
}
.btn-group > .btn-mini,
.btn-sm,
.btn-group-sm > .btn,
.btn-xs,
.btn-group-xs > .btn,
.alternate_upload .btn-upload,
.btn-group,
.btn-group-vertical {
 font-size: 12.0pt;
 font-weight: normal;
 height: inherit;
}
.btn-xs,
.btn-group-xs > .btn {
 font-size: 12.0pt;
 background-image: none;
 font-weight: normal;
 text-shadow: none;
 display: inline-table;
}
.btn-group > .btn:first-child {
 margin-left: 3px;
}
.alternate_upload input.fileinput {
 text-align: center;
 vertical-align: bottom;
 margin-left: -.5ex;
 display: inline-table;
 border: solid 0px #ebebeb;
 margin-bottom: -1ex;
}
.alternate_upload .btn-upload {
 display: inline-table;
}
.dropdown-header {
 font-family: sans-serif !important;
 font-size: 13pt !important;
 color: #ff7823 !important;
 border-bottom: none !important;
 padding: 0px !important;
 margin: 6px 6px 0px !important;
}
span#last-modified.btn.btn-xs.btn-default.sort-action,
span#sort-name.btn.btn-xs.btn-default.sort-action {
 font-family: sans-serif;
 font-size: 16px;
 background-color: transparent;
 background: transparent;
 border: none;
 padding-bottom: 0px;
 margin-bottom: 0px;
 vertical-align: sub;
}
span#last-modified.btn.btn-xs.btn-default.sort-action {
 margin-left: 19px;
}
button.close {
 border: 0px none;
 font-family: sans-serif;
 font-size: 20pt;
 font-weight: normal;
}
.dynamic-buttons {
 font-size: 15px;
 padding-top: 0px;
 display: inline-block;
}
.close {
 color: #de143d;
 opacity: .5;
 text-shadow: none;
 font-weight: normal;
}
.close:hover {
 color: #de143d;
 opacity: 1;
 font-weight: normal;
}
div.nbext-enable-btns .btn[disabled],
div.nbext-enable-btns .btn[disabled]:hover,
.btn-default.disabled,
.btn-default[disabled],
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
 color: #4a4a4a;
 background: #e8e8e8;
 background-color: #e8e8e8;
 border-color: #e8e8e8;
}
.input-group-addon {
 padding: 2px 5px;
 font-size: 12.0pt;
 font-weight: normal;
 height: auto;
 color: #303030;
 text-align: center;
 background-color: #ffffff;
 border: none;
}
.btn-group > .btn + .dropdown-toggle {
 padding-left: 8px;
 padding-right: 8px;
 height: 100%;
 border-left: 2px solid #ff7823 !important;
}
.btn-group > .btn + .dropdown-toggle:hover {
 border-left: 2px solid #ff7823 !important;
}
.input-group-btn {
 position: relative;
 font-size: inherit;
 white-space: nowrap;
 background: #eeeeee;
 background-color: #eeeeee;
 border: none;
}
.input-group-btn:hover {
 background: #e9e9e9;
 background-color: #e9e9e9;
 border: none;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
 background: #eeeeee;
 background-color: #eeeeee;
 border: none;
 margin: 2px;
 font-size: inherit;
}
.input-group-btn:first-child > .btn:hover,
.input-group-btn:first-child > .btn-group:hover {
 background: #e9e9e9;
 background-color: #e9e9e9;
 border: none;
 margin: 2px;
 font-size: inherit;
}
div.modal .btn-group > .btn:first-child {
 background: #eeeeee;
 background-color: #eeeeee;
 border: 1px solid #ebebeb;
 margin-top: 0px !important;
 margin-left: 0px;
 margin-bottom: 2px;
}
div.modal .btn-group > .btn:first-child:hover {
 background: #e9e9e9;
 background-color: #e9e9e9;
 border: 1px solid #e9e9e9;
}
div.modal > button,
div.modal-footer > button {
 background: #eeeeee;
 background-color: #eeeeee;
 border-color: #eeeeee;
}
div.modal > button:hover,
div.modal-footer > button:hover {
 background: #e9e9e9;
 background-color: #e9e9e9;
 border-color: #e9e9e9;
}
.modal-content {
 font-family: sans-serif;
 font-size: 12.0pt;
 position: relative;
 background: #eeeeee;
 background-color: #eeeeee;
 border: none;
 border-radius: 1px;
 background-clip: padding-box;
 outline: none;
}
.modal-header {
 font-family: sans-serif;
 font-size: 13pt;
 color: #303030;
 background: #eeeeee;
 background-color: #eeeeee;
 border-color: rgba(180,180,180,.30);
 padding: 12px;
 min-height: 16.4286px;
}
.modal-content h4 {
 font-family: sans-serif;
 font-size: 16pt;
 color: #303030;
 padding: 5px;
}
.modal-body {
 background-color: #ffffff;
 position: relative;
 padding: 15px;
}
.modal-footer {
 padding: 10px;
 text-align: right;
 background-color: #fafafa;
 border-top: 1px solid rgba(180,180,180,.30);
}
.alert-info {
 background-color: #fdfdfd;
 border-color: rgba(180,180,180,.30);
 color: #303030;
}
.modal-header .close {
 margin-top: -5px;
 font-size: 25pt;
}
.modal-backdrop,
.modal-backdrop.in {
 opacity: 0.7;
 background-color: #c4c4c4;
}
div.panel,
div.panel-default,
.panel,
.panel-default {
 font-family: sans-serif;
 font-size: 12.0pt;
 background-color: #fafafa;
 color: #303030;
 margin-bottom: 14px;
 border: 0;
 box-shadow: none;
}
div.panel > .panel-heading,
div.panel-default > .panel-heading {
 font-size: 14pt;
 color: #303030;
 background: #eeeeee;
 background-color: #eeeeee;
 border: 0;
}
.modal .modal-dialog {
 min-width: 950px;
 margin: 50px auto;
}
div.container-fluid {
 margin-right: auto;
 margin-left: auto;
 padding-left: 0px;
 padding-right: 5px;
}
div.form-control,
.form-control {
 font-family: sans-serif;
 font-size: inherit;
 color: #303030;
 background-color: #ffffff;
 border: 2px solid #e7e7e7;
 margin-left: 2px;
 height: auto;
 box-shadow: none;
 padding: 6px 12px;
 transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.form-group.list-group-item {
 color: #303030;
 background-color: #fafafa;
 border-color: rgba(180,180,180,.30);
 margin-bottom: 0px;
}
input,
button,
select,
textarea {
 background-color: #ffffff;
 font-weight: normal;
 border: 1px solid rgba(180,180,180,.30);
}
select.form-control.select-xs {
 height: auto;
}
.form-control:focus {
 border-color: #ff7823;
 outline: 0;
 -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(240,147,43,.50);
 box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(240,147,43,.50);
}
::-webkit-input-placeholder {
 color: #aaaaaa;
}
::-moz-placeholder {
 color: #aaaaaa;
}
:-ms-input-placeholder {
 color: #aaaaaa;
}
:-moz-placeholder {
 color: #aaaaaa;
}
div.output.output_scroll {
 box-shadow: none;
}
::-webkit-scrollbar {
 width: 10px;
 height: 9px;
 background-color: transparent;
 border-radius: 3px;
}
::-webkit-scrollbar-track {
 background: transparent;
}
::-webkit-scrollbar-thumb {
 border-radius: 2px;
 border: 2px solid #ff7823;
 background: #ff7823;
 background-clip: content-box;
 min-height: 100px;
 width: 10px;
}
HTML,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
span,
a {
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
}
div.input_area {
 background-color: #efefef;
 background: #efefef;
 padding-right: 1.2em;
 border: 0px;
 border-radius: 2px;
}
div.cell {
 padding: 0px;
 background: #efefef;
 background-color: #efefef;
 border: medium solid #ffffff;
 border-radius: 2px;
 top: 0;
 border-top-left-radius: 4px;
}
div.cell.selected {
 background: #efefef;
 background-color: #efefef;
 border: medium solid #ffffff;
 padding: 0px;
}
.edit_mode div.cell.selected {
 padding: 0px;
 background: #efefef;
 background-color: #efefef;
 border: medium solid #ffffff;
}
div.cell.edit_mode {
 padding: 0px;
 background: #efefef;
 background-color: #efefef;
}
div.CodeMirror-sizer {
 margin-left: 0px;
 margin-bottom: -21px;
 border-right-width: 16px;
 min-height: 37px;
 padding-right: 0px;
 padding-bottom: 0px;
 margin-top: 0px;
}
div.cell.selected:before {
 background: #ff7823;
 border: 2px solid #ff7823;
 border-top-left-radius: 2px;
 border-bottom-left-radius: 4px;
 position: absolute;
 display: block;
 top: 0px;
 left: 0px;
 width: 5px;
 height: 100%;
}
div.cell.selected.jupyter-soft-selected:before,
.edit_mode div.cell.selected:before {
 background: #ffd5bb;
 border: 2px solid #ffd5bb;
 border-top-left-radius: 2px;
 border-bottom-left-radius: 2px;
 position: absolute;
 display: block;
 top: 0px;
 left: 0px;
 width: 5px;
 height: 100%;
}
div.cell.jupyter-soft-selected,
div.cell.selected.jupyter-soft-selected {
 border-left-color: #ffd5bb;
 border-left-width: 0px;
 padding-left: 7px;
 border-right-color: #ffd5bb;
 border-right-width: 0px;
 background: #ffd5bb;
 border-radius: 6px;
}
div.cell.selected.jupyter-soft-selected {
 border-left-color: #ff7823;
 border-color: #ffffff;
 padding-left: 7px;
 border-radius: 6px;
}
div.cell.selected.jupyter-soft-selected .prompt,
div.cell.text_cell.selected.jupyter-soft-selected .prompt {
 top: 0;
 border-left: #efefef !important;
 border-radius: 2px;
}
div.cell.text_cell.selected.jupyter-soft-selected .input_prompt {
 border-left: none !important;
}
div.cell.text_cell.selected.jupyter-soft-selected:before {
 background: #87b0db !important;
 border: 2px solid #87b0db !important;
 border-radius: 6px !important;
 position: absolute !important;
 display: block !important;
 top: 0px !important;
 left: 0px !important;
 width: 6px !important;
 height: 100% !important;
}
div.cell.text_cell.jupyter-soft-selected,
div.cell.text_cell.selected.jupyter-soft-selected {
 border-left-color: #87b0db !important;
 border-left-width: 0px !important;
 padding-left: 7px !important;
 border-right-color: #87b0db !important;
 border-right-width: 0px !important;
 background: #87b0db !important;
 border-radius: 6px !important;
}
div.prompt,
.prompt {
 font-family: monospace, monospace;
 font-size: 9pt !important;
 font-weight: normal;
 color: #aaaaaa;
 line-height: 170%;
 padding: 0px;
 padding-top: 4px;
 padding-left: 0px;
 padding-right: 1px;
 text-align: right !important;
 min-width: 12.5ex !important;
 width: 12.5ex !important;
}
div.prompt.input_prompt {
 font-size: 9pt !important;
 background-color: #efefef;
 border-top: 0px;
 border-top-right-radius: 0px;
 border-bottom-left-radius: 0px;
 border-bottom-right-radius: 0px;
 padding-right: 3px;
 min-width: 12.5ex;
 width: 12.5ex !important;
}
div.cell.code_cell .input_prompt {
 border-right: 2px solid rgba(240,147,43,.50);
}
div.cell.selected .prompt {
 top: 0;
 border-left: 5px solid #ff7823;
 border-radius: 2px;
}
.edit_mode div.cell.selected .prompt {
 top: 0;
 border-left: 5px solid #ffd5bb;
 border-radius: 2px;
}
.edit_mode div.cell.selected .prompt {
 top: 0;
 border-left: 5px solid #ffd5bb;
 border-radius: 2px;
}
div.output_wrapper {
 background-color: #ffffff;
 border: 0px;
 left: 0px;
 margin-bottom: 0em;
 margin-top: 0em;
 border-top-right-radius: 0px;
 border-top-left-radius: 0px;
}
div.output_subarea.output_text.output_stream.output_stdout,
div.output_subarea.output_text {
 font-family: monospace, monospace;
 font-size: 8.5pt !important;
 line-height: 150% !important;
 background-color: #ffffff;
 color: #303030;
 border-top-right-radius: 0px;
 border-top-left-radius: 0px;
}
div.output_area pre {
 font-family: monospace, monospace;
 font-size: 8.5pt !important;
 line-height: 151% !important;
 color: #303030;
 border-top-right-radius: 0px;
 border-top-left-radius: 0px;
}
div.output_area {
 display: -webkit-box;
}
div.output_html {
 font-family: monospace, monospace;
 font-size: 8.5pt;
 color: #353535;
 background-color: #ffffff;
 background: #ffffff;
}
div.output_subarea {
 overflow-x: auto;
 padding: 0.3em;
 -webkit-box-flex: 1;
 -moz-box-flex: 1;
 box-flex: 1;
 flex: 1;
}
div.btn.btn-default.output_collapsed {
 background: #e1e1e1;
 background-color: #e1e1e1;
 border-color: #e1e1e1;
}
div.btn.btn-default.output_collapsed:hover {
 background: #dcdcdc;
 background-color: #dcdcdc;
 border-color: #dcdcdc;
}
div.prompt.output_prompt {
 font-family: monospace, monospace;
 font-size: 9pt !important;
 background-color: #ffffff;
 color: transparent;
 border-bottom-left-radius: 4px;
 border-top-right-radius: 0px;
 border-top-left-radius: 0px;
 border-bottom-right-radius: 0px;
 min-width: 12.5ex !important;
 width: 12.5ex !important;
 border-right: 2px solid rgba(240,147,43,.50) !important;
}
div.out_prompt_overlay.prompt {
 font-family: monospace, monospace;
 font-size: 9pt !important;
 background-color: #ffffff;
 border-bottom-left-radius: 2px;
 border-top-right-radius: 0px;
 border-top-left-radius: 0px;
 border-bottom-right-radius: 0px;
 min-width: 12.5ex !important;
 width: 12.5ex !important;
 border-right: 2px solid rgba(240,147,43,.50) !important;
 color: transparent;
}
div.out_prompt_overlay.prompt:hover {
 background-color: #ffffff;
 box-shadow: #e8e8e8 2px 1px 1px 2px inset;
 border: none;
 border-bottom-left-radius: 2px;
 -webkit-border-: 2px;
 -moz-border-radius: 2px;
 border-top-right-radius: 0px;
 border-top-left-radius: 0px;
 min-width: 12.5ex !important;
 width: 12.5ex !important;
 border-right: 2px solid rgba(240,147,43,.50) !important;
}
div.cell.code_cell .output_prompt {
 border-right: 2px solid 2px solid rgba(240,147,43,.50) !important;
 color: transparent;
}
div.cell.selected .output_prompt,
div.cell.selected .out_prompt_overlay.prompt {
 border-left: 5px solid #ff7823;
 border-radius: 0px !important;
}
.edit_mode div.cell.selected .output_prompt,
.edit_mode div.cell.selected .out_prompt_overlay.prompt {
 border-left: 5px solid #ffd5bb !important;
 border-radius: 0px !important;
}
div.text_cell,
div.text_cell_render pre,
div.text_cell_render {
 font-family: sans-serif;
 font-size: 13pt;
 line-height: 130% !important;
 color: #353535;
 background: #ffffff;
 background-color: #ffffff;
 border-radius: 0px;
}
div .text_cell_render {
 padding: 0.4em 0.4em 0em 0.4em;
}
div.cell.text_cell .CodeMirror-lines {
 padding-top: .7em !important;
 padding-bottom: .4em !important;
 padding-left: .5em !important;
 padding-right: .5em !important;
 margin-top: .4em;
 margin-bottom: .3em;
}
div.cell.text_cell.unrendered div.input_area,
div.cell.text_cell.rendered div.input_area {
 background-color: #ffffff;
 background: #ffffff;
 border: 0px;
 border-radius: 2px;
}
div.cell.text_cell .CodeMirror,
div.cell.text_cell .CodeMirror pre {
 line-height: 170% !important;
}
div.cell.text_cell.rendered.selected {
 font-family: sans-serif;
 line-height: 170% !important;
 background: #ffffff;
 background-color: #ffffff;
 border-radius: 0px;
}
div.cell.text_cell.unrendered.selected {
 font-family: sans-serif;
 line-height: 170% !important;
 background: #ffffff;
 background-color: #ffffff;
 border-radius: 0px;
}
div.cell.text_cell.selected {
 font-family: sans-serif;
 line-height: 170% !important;
 background: #ffffff;
 background-color: #ffffff;
 border-radius: 0px;
}
.edit_mode div.cell.text_cell.selected {
 font-family: sans-serif;
 line-height: 170% !important;
 background: #ffffff;
 background-color: #ffffff;
 border-radius: 0px;
}
div.text_cell.unrendered,
div.text_cell.unrendered.selected,
div.edit_mode div.text_cell.unrendered {
 font-family: sans-serif;
 line-height: 170% !important;
 background: #ffffff;
 background-color: #ffffff;
 border-radius: 0px;
}
div.cell.text_cell.selected:before {
 background: #126dce;
 border: 2px solid #126dce;
 border-top-left-radius: 2px;
 border-bottom-left-radius: 2px;
 position: absolute;
 display: block;
 top: 0px;
 left: 0px;
 width: 5px;
 height: 100%;
}
.edit_mode div.cell.text_cell.selected:before {
 background: #87b0db;
 border: 2px solid #87b0db;
 border-top-left-radius: 2px;
 border-bottom-left-radius: 2px;
 position: absolute;
 display: block;
 top: 0px;
 left: 0px;
 width: 5px;
 height: 100%;
}
div.cell.text_cell .input_prompt {
 border-right: 0;
}
div.cell.text_cell.rendered .input_prompt {
 font-family: monospace, monospace;
 font-size: 9.5pt;
 font-weight: normal;
 color: #aaaaaa;
 text-align: right !important;
 min-width: 12.5ex;
 width: 12.5ex !important;
 background-color: #ffffff;
 border-right: 2px solid rgba(30,112,199,.50);
 border-left: 5px solid #ffffff;
}
div.cell.text_cell.unrendered .input_prompt {
 font-family: monospace, monospace;
 font-size: 9.5pt;
 font-weight: normal;
 color: #aaaaaa;
 text-align: right !important;
 min-width: 12.5ex;
 width: 12.5ex !important;
 border-right: 2px solid rgba(30,112,199,.50);
 border-left: 5px solid #ffffff;
}
div.cell.text_cell.rendered .input_prompt {
 border-right: 2px solid rgba(30,112,199,.50);
}
div.cell.text_cell.rendered.selected .input_prompt {
 top: 0;
 border-left: 5px solid #126dce;
 border-radius: 2px;
 border-right: 2px solid rgba(30,112,199,.50);
}
div.text_cell.unrendered.selected .prompt {
 top: 0;
 border-left: 5px solid #87b0db;
 border-radius: 2px;
 border-right: 2px solid rgba(30,112,199,.50);
}
div.rendered_html code {
 font-family: monospace, monospace;
 font-size: 11pt;
 padding-top: 3px;
 color: #303030;
 background: #efefef;
 background-color: #efefef;
}
pre,
code,
kbd,
samp {
 white-space: pre-wrap;
}
.well code,
code {
 font-family: monospace, monospace;
 font-size: 11pt !important;
 line-height: 170% !important;
 color: #353535;
 background: #efefef;
 background-color: #efefef;
 border-color: #efefef;
}
kbd {
 padding: 4px;
 font-size: 11pt;
 color: #303030;
 background-color: #efefef;
 border: 0;
 box-shadow: none;
}
pre {
 display: block;
 padding: 8.5px;
 margin: 0 0 9px;
 font-size: 12.0pt;
 line-height: 1.42857143;
 color: #303030;
 background-color: #efefef;
 border: 1px solid #e7e7e7;
 border-radius: 2px;
}
div.rendered_html {
 color: #353535;
}
.rendered_html * + ul {
 margin-top: .4em;
 margin-bottom: .3em;
}
.rendered_html * + p {
 margin-top: .5em;
 margin-bottom: .5em;
}
div.rendered_html pre,
div.text_cell_render pre {
 font-family: monospace, monospace;
 font-size: 11pt !important;
 line-height: 170% !important;
 color: #353535;
 background: #efefef;
 background-color: #efefef;
 border: 2px #e7e7e7 solid;
 max-width: 86%;
 border-radius: 2px;
}
div.text_cell_render h1,
div.rendered_html h1,
div.text_cell_render h2,
div.rendered_html h2,
div.text_cell_render h3,
div.rendered_html h3,
div.text_cell_render h4,
div.rendered_html h4,
div.text_cell_render h5,
div.rendered_html h5 {
 font-family: sans-serif;
 margin: 0.4em .2em .3em .2em !important;
}
.rendered_html h1:first-child,
.rendered_html h2:first-child,
.rendered_html h3:first-child,
.rendered_html h4:first-child,
.rendered_html h5:first-child,
.rendered_html h6:first-child {
 margin-top: 0.2em !important;
 margin-bottom: 0.2em !important;
}
.rendered_html h1,
.text_cell_render h1 {
 color: #126dce;
 font-size: 215%;
 text-align: center;
 font-style: normal;
 font-weight: lighter;
}
.rendered_html h2,
.text_cell_render h2 {
 text-align: left;
 font-size: 180%;
 color: #126dce;
 font-style: normal;
 font-weight: lighter;
}
.rendered_html h3,
.text_cell_render h3 {
 font-size: 150%;
 color: #126dce;
 font-style: normal;
 font-weight: lighter;
}
.rendered_html h4,
.text_cell_render h4 {
 font-size: 120%;
 color: #126dce;
 font-style: normal;
 font-weight: lighter;
}
.rendered_html h5,
.text_cell_render h5 {
 font-size: 100%;
 color: #2f2f2f;
 font-style: normal;
 font-weight: lighter;
}
hr {
 margin-top: 8px;
 margin-bottom: 10px;
 border: 0;
 border-top: 1px solid #126dce;
}
.rendered_html hr {
 color: #126dce;
 background-color: #126dce;
 margin-right: 2em;
}
#complete > select > option:hover {
 background: rgba(180,180,180,.14);
 background-color: rgba(180,180,180,.14);
}
div#_vivaldi-spatnav-focus-indicator._vivaldi-spatnav-focus-indicator {
 position: absolute;
 z-index: 9999999999;
 top: 0px;
 left: 0px;
 box-shadow: none;
 pointer-events: none;
 border-radius: 2px;
}
.rendered_html tr,
.rendered_html th,
.rendered_html td {
 text-align: left;
 vertical-align: middle;
 padding: 0.42em 0.47em;
 line-height: normal;
 white-space: normal;
 max-width: none;
 border: none;
}
.rendered_html tr,
.rendered_html td {
 font-size: 9.3pt !important;
}
.rendered_html thead {
 font-family: sans-serif;
 font-size: 10.3pt !important;
}
.rendered_html table {
 margin-left: auto;
 margin-right: auto;
 border: none;
 border-collapse: collapse;
 border-spacing: 0;
 color: #353535;
 font-size: 9.3pt !important;
 table-layout: fixed;
}
.rendered_html thead {
 background: #ebebeb;
 color: #353535;
 border-bottom: 1px solid #ebebeb;
 vertical-align: bottom;
}
.rendered_html tbody tr:nth-child(odd) {
 background: #fafafa;
}
.rendered_html tbody tr {
 background: #f2f2f2;
}
.rendered_html tbody tr:hover:nth-child(odd) {
 background: #f7f7f7;
}
.rendered_html tbody tr:hover {
 background: #f0f0f0;
}
div.widget-area {
 background-color: #ffffff;
 background: #ffffff;
 color: #303030;
}
div.widget-area a {
 font-family: sans-serif;
 font-size: 12.0pt;
 font-weight: normal;
 font-style: normal;
 color: #303030;
 text-shadow: none !important;
}
div.widget-area a:hover,
div.widget-area a:focus {
 font-family: sans-serif;
 font-size: 12.0pt;
 font-weight: normal;
 font-style: normal;
 color: #2f2f2f;
 background: rgba(180,180,180,.14);
 background-color: rgba(180,180,180,.14);
 border-color: transparent;
 background-image: none;
 text-shadow: none !important;
}
div.widget_item.btn-group > button.btn.btn-default.widget-combo-btn,
div.widget_item.btn-group > button.btn.btn-default.widget-combo-btn:hover {
 background: #ebebeb;
 background-color: #ebebeb;
 border: 2px solid #ebebeb !important;
 font-size: inherit;
 z-index: 0;
}
div.jupyter-widgets.widget-hprogress.widget-hbox,
div.widget-hbox,
.widget-hbox {
 display: inline-table;
 width: 38% !important;
 margin-left: 10px;
}
.widget-inline-hbox {
 display: inline-table !important;
}
div.jupyter-widgets.widget-hprogress.widget-hbox .widget-label,
div.widget-hbox .widget-label,
.widget-hbox .widget-label,
.widget-inline-hbox .widget-label,
div.widget-label {
 text-align: -webkit-auto !important;
 margin-left: 15px !important;
 max-width: 240px !important;
 min-width: 100px !important;
 vertical-align: text-top !important;
 color: #303030 !important;
}
.widget-hprogress .progress {
 flex-grow: 1;
 height: 20px;
 margin-top: auto;
 margin-left: 12px;
 margin-bottom: auto;
 width: 300px;
}
.progress {
 overflow: hidden;
 height: 22px;
 margin-bottom: 10px;
 padding-left: 10px;
 background-color: #d6d6d6 !important;
 border-radius: 2px;
 -webkit-box-shadow: none;
 box-shadow: none;
 z-index: 10;
}
.progress-bar-danger {
 background-color: #e5344a !important;
}
.progress-bar-info {
 background-color: #2980b9 !important;
}
.progress-bar-warning {
 background-color: #f39c12 !important;
}
.progress-bar-success {
 background-color: #5cb85c !important;
}
.widget-select select {
 margin-left: 12px;
}
.rendered_html :link {
 font-family: sans-serif;
 font-size: 100%;
 color: #126dce;
 text-decoration: underline;
}
.rendered_html :visited,
.rendered_html :visited:active,
.rendered_html :visited:focus {
 color: #1a77da;
}
.rendered_html :visited:hover,
.rendered_html :link:hover {
 font-family: sans-serif;
 font-size: 100%;
 color: #ff7823;
}
a.anchor-link:link {
 font-size: inherit;
 text-decoration: none;
 padding: 0px 20px;
 visibility: none;
 color: #126dce;
}
a.anchor-link:link:hover {
 font-size: inherit;
 color: #ff7823;
}
.navbar-text {
 margin-top: 4px;
 margin-bottom: 0px;
}
#clusters > a {
 color: #ff7823;
 text-decoration: underline;
 cursor: auto;
}
#clusters > a:hover {
 color: #126dce;
 text-decoration: underline;
 cursor: auto;
}
#nbextensions-configurator-container > div.row.container-fluid.nbext-selector > h3 {
 font-size: 15px;
 margin-top: 5px;
 margin-bottom: 8px;
 height: 24px;
 padding: 4px 0 4px 0;
}
div#nbextensions-configurator-container.container,
#nbextensions-configurator-container.container {
 width: 100%;
 margin-right: auto;
 margin-left: auto;
}
div.nbext-selector > nav > .nav > li > a {
 font-family: sans-serif;
 font-size: 10.5pt;
 padding: 2px 5px;
}
div.nbext-readme > .nbext-readme-contents > .rendered_html {
 font-family: sans-serif;
 font-size: 11.5pt;
 line-height: 145%;
 padding: 1em 1em;
 color: #353535;
 background-color: #ffffff;
 -webkit-box-shadow: none;
 -moz-box-shadow: none;
 box-shadow: none;
}
.nbext-icon,
.nbext-desc,
.nbext-compat-div,
.nbext-enable-btns,
.nbext-params {
 margin-bottom: 8px;
 font-size: 11.5pt;
}
div.nbext-readme > .nbext-readme-contents {
 padding: 0;
 overflow-y: hidden;
}
div.nbext-readme > .nbext-readme-contents:not(:empty) {
 margin-top: 0.5em;
 margin-bottom: 2em;
 border: none;
 border-top-color: rgba(180,180,180,.30);
}
.nbext-showhide-incompat {
 padding-bottom: 0.5em;
 color: #4a4a4a;
 font-size: 10.5pt;
}
.nbext-filter-menu.dropdown-menu > li > a:hover,
.nbext-filter-menu.dropdown-menu > li > a:focus,
.nbext-filter-menu.dropdown-menu > li > a.ui-state-focus {
 color: #2f2f2f !important;
 background-color: rgba(180,180,180,.14) !important;
 background: rgba(180,180,180,.14) !important;
 border-color: rgba(180,180,180,.14) !important;
}
span.rendered_html code {
 background-color: transparent;
 color: #303030;
}
#nbextensions-configurator-container > div.row.container-fluid.nbext-selector {
 padding-left: 0px;
 padding-right: 0px;
}
.nbext-filter-menu {
 max-height: 50vh;
 overflow-y: auto;
 outline: none;
 border: 2px solid rgba(180,180,180,.30);
}
.alert-warning {
 background-color: #fafafa;
 border-color: #fafafa;
 color: #303030;
}
.notification_widget.danger {
 color: #ffffff;
 background-color: #e5344a;
 border-color: #e5344a;
 padding-right: 5px;
}
mark,
.mark {
 background-color: #ffffff;
 color: #353535;
 padding: .15em;
}
a.text-warning,
a.text-warning:hover {
 color: #aaaaaa;
}
a.text-warning.bg-warning {
 background-color: #ffffff;
}
span.bg-success.text-success {
 background-color: transparent;
 color: #009e07;
}
span.bg-danger.text-danger {
 background-color: #ffffff;
 color: #de143d;
}
.has-success .input-group-addon {
 color: #009e07;
 border-color: transparent;
 background: inherit;
 background-color: rgba(83,180,115,.10);
}
.has-success .form-control {
 border-color: #009e07;
 -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.025);
 box-shadow: inset 0 1px 1px rgba(0,0,0,0.025);
}
.has-error .input-group-addon {
 color: #de143d;
 border-color: transparent;
 background: inherit;
 background-color: rgba(192,57,67,.10);
}
.has-error .form-control {
 border-color: #de143d;
 -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.025);
 box-shadow: inset 0 1px 1px rgba(0,0,0,0.025);
}
.kse-input-group-pretty > kbd {
 font-family: monospace, monospace;
 color: #303030;
 font-weight: normal;
 background: transparent;
}
.kse-input-group-pretty > kbd {
 font-family: monospace, monospace;
 color: #303030;
 font-weight: normal;
 background: transparent;
}
div.nbext-enable-btns .btn[disabled],
div.nbext-enable-btns .btn[disabled]:hover,
.btn-default.disabled,
.btn-default[disabled] {
 background: #e8e8e8;
 background-color: #e8e8e8;
 color: #282828;
}
label#Keyword-Filter {
 display: none;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
 color: #1c1c1c;
 background-color: #eeeeee;
}
.input-group .nbext-list-btn-add,
.input-group-btn:last-child > .btn-group > .btn {
 background: #eeeeee;
 background-color: #eeeeee;
 border-color: #eeeeee;
}
.input-group .nbext-list-btn-add:hover,
.input-group-btn:last-child > .btn-group > .btn:hover {
 background: #e9e9e9;
 background-color: #e9e9e9;
 border-color: #e9e9e9;
}
#notebook-container > div.cell.code_cell.rendered.selected > div.widget-area > div.widget-subarea > div > div.widget_item.btn-group > button.btn.btn-default.dropdown-toggle.widget-combo-carrot-btn {
 background: #eeeeee;
 background-color: #eeeeee;
 border-color: #eeeeee;
}
#notebook-container > div.cell.code_cell.rendered.selected > div.widget-area > div.widget-subarea > div > div.widget_item.btn-group > button.btn.btn-default.dropdown-toggle.widget-combo-carrot-btn:hover {
 background: #e9e9e9;
 background-color: #e9e9e9;
 border-color: #e9e9e9;
}
.ui-widget-content {
 background: #ebebeb;
 background-color: #ebebeb;
 border: 2px solid #ebebeb;
 color: #303030;
}
div.collapsible_headings_toggle {
 color: rgba(180,180,180,.30) !important;
}
div.collapsible_headings_toggle:hover {
 color: #ff7823 !important;
}
.collapsible_headings_toggle .h1,
.collapsible_headings_toggle .h2,
.collapsible_headings_toggle .h3,
.collapsible_headings_toggle .h4,
.collapsible_headings_toggle .h5,
.collapsible_headings_toggle .h6 {
 margin: 0.3em .4em 0em 0em !important;
 line-height: 1.2 !important;
}
div.collapsible_headings_toggle .fa-caret-down:before,
div.collapsible_headings_toggle .fa-caret-right:before {
 font-size: xx-large;
 transition: transform 1000ms;
 transform: none !important;
}
.collapsible_headings_collapsed.collapsible_headings_ellipsis .rendered_html h1:after,
.collapsible_headings_collapsed.collapsible_headings_ellipsis .rendered_html h2:after,
.collapsible_headings_collapsed.collapsible_headings_ellipsis .rendered_html h3:after,
.collapsible_headings_collapsed.collapsible_headings_ellipsis .rendered_html h4:after,
.collapsible_headings_collapsed.collapsible_headings_ellipsis .rendered_html h5:after,
.collapsible_headings_collapsed.collapsible_headings_ellipsis .rendered_html h6:after {
 position: absolute;
 right: 0;
 bottom: 20% !important;
 content: "[\002026]";
 color: rgba(180,180,180,.30) !important;
 padding: 0.5em 0em 0em 0em !important;
}
.collapsible_headings_ellipsis .rendered_html h1,
.collapsible_headings_ellipsis .rendered_html h2,
.collapsible_headings_ellipsis .rendered_html h3,
.collapsible_headings_ellipsis .rendered_html h4,
.collapsible_headings_ellipsis .rendered_html h5,
.collapsible_headings_ellipsis .rendered_html h6,
.collapsible_headings_toggle .fa {
 transition: transform 1000ms !important;
 -webkit-transform: inherit !important;
 -moz-transform: inherit !important;
 -ms-transform: inherit !important;
 -o-transform: inherit !important;
 transform: inherit !important;
 padding-right: 0px !important;
}
input.raw_input {
 font-family: monospace, monospace;
 font-size: 11pt !important;
 color: #303030;
 background-color: #efefef;
 border-color: #ececec;
 background: #ececec;
 width: auto;
 vertical-align: baseline;
 padding: 0em 0.25em;
 margin: 0em 0.25em;
 -webkit-box-shadow: none;
 box-shadow: none;
}
audio,
video {
 display: inline;
 vertical-align: middle;
 align-content: center;
 margin-left: 20%;
}
.cmd-palette .modal-body {
 padding: 0px;
 margin: 0px;
}
.cmd-palette form {
 background: #eeeeee;
 background-color: #eeeeee;
}
.typeahead-field input:last-child,
.typeahead-hint {
 background: #eeeeee;
 background-color: #eeeeee;
 z-index: 1;
}
.typeahead-field input {
 font-family: sans-serif;
 color: #303030;
 border: none;
 font-size: 28pt;
 display: inline-block;
 line-height: inherit;
 padding: 3px 10px;
 height: 70px;
}
.typeahead-select {
 background-color: #eeeeee;
}
body > div.modal.cmd-palette.typeahead-field {
 display: table;
 border-collapse: separate;
 background-color: #fafafa;
}
.typeahead-container button {
 font-family: sans-serif;
 font-size: 28pt;
 background-color: #d0d0d0;
 border: none;
 display: inline-block;
 line-height: inherit;
 padding: 3px 10px;
 height: 70px;
}
.typeahead-search-icon {
 min-width: 40px;
 min-height: 55px;
 display: block;
 vertical-align: middle;
 text-align: center;
}
.typeahead-container button:focus,
.typeahead-container button:hover {
 color: #2f2f2f;
 background-color: #ff7823;
 border-color: #ff7823;
}
.typeahead-list > li.typeahead-group.active > a,
.typeahead-list > li.typeahead-group > a,
.typeahead-list > li.typeahead-group > a:focus,
.typeahead-list > li.typeahead-group > a:hover {
 display: none;
}
.typeahead-dropdown > li > a,
.typeahead-list > li > a {
 color: #303030;
 text-decoration: none;
}
.typeahead-dropdown,
.typeahead-list {
 font-family: sans-serif;
 font-size: 13pt;
 color: #303030;
 background-color: #ffffff;
 border: none;
 background-clip: padding-box;
 margin-top: 0px;
 padding: 3px 2px 3px 0px;
 line-height: 1.7;
}
.typeahead-dropdown > li.active > a,
.typeahead-dropdown > li > a:focus,
.typeahead-dropdown > li > a:hover,
.typeahead-list > li.active > a,
.typeahead-list > li > a:focus,
.typeahead-list > li > a:hover {
 color: #2f2f2f;
 background-color: #fafafa;
 border-color: #fafafa;
}
.command-shortcut:before {
 content: "(command)";
 padding-right: 3px;
 color: #aaaaaa;
}
.edit-shortcut:before {
 content: "(edit)";
 padding-right: 3px;
 color: #aaaaaa;
}
ul.typeahead-list i {
 margin-left: 1px;
 width: 18px;
 margin-right: 10px;
}
ul.typeahead-list {
 max-height: 50vh;
 overflow: auto;
}
.typeahead-list > li {
 position: relative;
 border: none;
}
div.input.typeahead-hint,
input.typeahead-hint,
body > div.modal.cmd-palette.in > div > div > div > form > div > div.typeahead-field > span.typeahead-query > input.typeahead-hint {
 color: #aaaaaa !important;
 background-color: transparent;
 padding: 3px 10px;
}
.typeahead-dropdown > li > a,
.typeahead-list > li > a {
 display: block;
 padding: 5px;
 clear: both;
 font-weight: 400;
 line-height: 1.7;
 border: 1px solid #ffffff;
 border-bottom-color: rgba(180,180,180,.30);
}
body > div.modal.cmd-palette.in > div {
 min-width: 750px;
 margin: 150px auto;
}
.typeahead-container strong {
 font-weight: bolder;
 color: #ff7823;
}
#find-and-replace #replace-preview .match,
#find-and-replace #replace-preview .insert {
 color: #ffffff;
 background-color: #ff7823;
 border-color: #ff7823;
 border-style: solid;
 border-width: 1px;
 border-radius: 0px;
}
#find-and-replace #replace-preview .replace .match {
 background-color: #de143d;
 border-color: #de143d;
 border-radius: 0px;
}
#find-and-replace #replace-preview .replace .insert {
 background-color: #009e07;
 border-color: #009e07;
 border-radius: 0px;
}
.shortcut_key,
span.shortcut_key {
 display: inline-block;
 width: 16ex;
 text-align: right;
 font-family: monospace;
}
.jupyter-keybindings {
 padding: 1px;
 line-height: 24px;
 border-bottom: 1px solid rgba(180,180,180,.14);
}
.jupyter-keybindings i {
 background: #efefef;
 font-size: small;
 padding: 5px;
 margin-left: 7px;
}
div#short-key-bindings-intro.well,
.well {
 background-color: #eeeeee;
 border: 1px solid #eeeeee;
 color: #303030;
 border-radius: 2px;
 -webkit-box-shadow: none;
 box-shadow: none;
}
#texteditor-backdrop {
 background: #ffffff;
 background-color: #ffffff;
}
#texteditor-backdrop #texteditor-container .CodeMirror-gutter,
#texteditor-backdrop #texteditor-container .CodeMirror-gutters {
 background: #e0e1e3;
 background-color: #e0e1e3;
 color: #aaaaaa;
}
.edit_app #menubar .navbar {
 margin-bottom: 0px;
}
#texteditor-backdrop #texteditor-container {
 padding: 0px;
 background-color: #efefef;
 box-shadow: none;
}
.terminal-app {
 background: #ffffff;
}
.terminal-app .terminal {
 font-family: monospace, monospace;
 font-size: 11pt;
 line-height: 170%;
 color: #303030;
 background: #efefef;
 padding: 0.4em;
 border-radius: 2px;
 -webkit-box-shadow: none;
 box-shadow: none;
}
.terminal .xterm-viewport {
 background-color: #efefef;
 color: #303030;
 overflow-y: auto;
}
.terminal .xterm-color-0 {
 color: #ff7823;
}
.terminal .xterm-color-1 {
 color: #de143d;
}
.terminal .xterm-color-2 {
 color: #713bc5;
}
.terminal .xterm-color-3 {
 color: #e22978;
}
.terminal .xterm-color-4 {
 color: #ff8132;
}
.terminal .xterm-color-5 {
 color: #009e07;
}
.terminal .xterm-color-6 {
 color: #e22978;
}
.terminal .xterm-color-7 {
 color: #e22978;
}
.terminal .xterm-color-8 {
 color: #ff7823;
}
.terminal .xterm-color-9 {
 color: #009e07;
}
.terminal .xterm-color-10 {
 color: #e22978;
}
.terminal .xterm-color-14 {
 color: #e22978;
}
.terminal .xterm-bg-color-15 {
 background-color: #efefef;
}
.terminal:not(.xterm-cursor-style-underline):not(.xterm-cursor-style-bar) .terminal-cursor {
 background-color: #ff7823;
 color: #efefef;
}
.terminal:not(.focus) .terminal-cursor {
 outline: 1px solid #ff7823;
 outline-offset: -1px;
}
div.CodeMirror,
div.CodeMirror pre {
 font-family: monospace, monospace;
 font-size: 11pt;
 line-height: 170%;
 color: #303030;
}
div.CodeMirror-lines {
 padding-bottom: .6em;
 padding-left: .5em;
 padding-right: 1.5em;
 padding-top: 4px;
}
span.ansiblack,
.ansi-black-fg {
 color: #dc4384;
}
span.ansiblue,
.ansi-blue-fg,
.ansi-blue-intense-fg {
 color: #009e07;
}
span.ansigray,
.ansi-gray-fg,
.ansi-gray-intense-fg {
 color: #ff7823;
}
span.ansigreen,
.ansi-green-fg {
 color: #333333;
}
.ansi-green-intense-fg {
 color: #ff7823;
}
span.ansipurple,
.ansi-purple-fg,
.ansi-purple-intense-fg {
 color: #653bc5;
}
span.ansicyan,
.ansi-cyan-fg,
.ansi-cyan-intense-fg {
 color: #653bc5;
}
span.ansiyellow,
.ansi-yellow-fg,
.ansi-yellow-intense-fg {
 color: #ff7823;
}
span.ansired,
.ansi-red-fg,
.ansi-red-intense-fg {
 color: #de143d;
}
div.output-stderr {
 background-color: #ebb5b7;
}
div.output-stderr pre {
 color: #000000;
}
div.js-error {
 color: #de143d;
}
.ipython_tooltip {
 font-family: monospace, monospace;
 font-size: 11pt;
 line-height: 170%;
 border: 2px solid #dadada;
 background: #eeeeee;
 background-color: #eeeeee;
 border-radius: 2px;
 overflow-x: visible;
 overflow-y: visible;
 box-shadow: none;
 position: absolute;
 z-index: 1000;
}
.ipython_tooltip .tooltiptext pre {
 font-family: monospace, monospace;
 font-size: 11pt;
 line-height: 170%;
 background: #eeeeee;
 background-color: #eeeeee;
 color: #303030;
 overflow-x: visible;
 overflow-y: visible;
 max-width: 900px;
}
div#tooltip.ipython_tooltip {
 overflow-x: wrap;
 overflow-y: visible;
 max-width: 800px;
}
div.tooltiptext.bigtooltip {
 overflow-x: visible;
 overflow-y: scroll;
 height: 400px;
 max-width: 800px;
}
.cm-s-ipython.CodeMirror {
 font-family: monospace, monospace;
 font-size: 11pt;
 background: #efefef;
 color: #303030;
 border-radius: 2px;
 font-style: normal;
 font-weight: normal;
}
.cm-s-ipython div.CodeMirror-selected {
 background: #e0e1e3;
}
.cm-s-ipython .CodeMirror-gutters {
 background: #e0e1e3;
 border: none;
 border-radius: 0px;
 width: 36px;
}
.cm-s-ipython .CodeMirror-linenumber {
 color: #aaaaaa;
}
.CodeMirror-sizer {
 margin-left: 40px;
}
.CodeMirror-linenumber,
div.CodeMirror-linenumber,
.CodeMirror-gutter.CodeMirror-linenumberdiv.CodeMirror-gutter.CodeMirror-linenumber {
 padding-right: 1px;
 margin-left: 0px;
 margin: 0px;
 width: 26px !important;
 padding: 0px;
 text-align: right;
}
.CodeMirror-linenumber {
 color: #aaaaaa;
}
.cm-s-ipython .CodeMirror-cursor {
 border-left: 2px solid #ff711a !important;
}
.cm-s-ipython span.cm-comment {
 color: #8d8d8d;
 font-style: italic;
}
.cm-s-ipython span.cm-atom {
 color: #055be0;
}
.cm-s-ipython span.cm-number {
 color: #ff8132;
}
.cm-s-ipython span.cm-property {
 color: #303030;
}
.cm-s-ipython span.cm-attribute {
 color: #303030;
}
.cm-s-ipython span.cm-keyword {
 color: #713bc5;
 font-weight: normal;
}
.cm-s-ipython span.cm-string {
 color: #009e07;
}
.cm-s-ipython span.cm-meta {
 color: #aa22ff;
}
.cm-s-ipython span.cm-operator {
 color: #055be0;
}
.cm-s-ipython span.cm-builtin {
 color: #e22978;
}
.cm-s-ipython span.cm-variable {
 color: #303030;
}
.cm-s-ipython span.cm-variable-2 {
 color: #de143d;
}
.cm-s-ipython span.cm-variable-3 {
 color: #aa22ff;
}
.cm-s-ipython span.cm-def {
 color: #e22978;
 font-weight: normal;
}
.cm-s-ipython span.cm-error {
 background: rgba(191,97,106,.40);
}
.cm-s-ipython span.cm-tag {
 color: #e22978;
}
.cm-s-ipython span.cm-link {
 color: #ff7823;
}
.cm-s-ipython span.cm-storage {
 color: #055be0;
}
.cm-s-ipython span.cm-entity {
 color: #e22978;
}
.cm-s-ipython span.cm-quote {
 color: #009e07;
}
div.CodeMirror span.CodeMirror-matchingbracket {
 color: #1c1c1c;
 background-color: rgba(30,112,199,.30);
}
div.CodeMirror span.CodeMirror-nonmatchingbracket {
 color: #1c1c1c;
 background: rgba(191,97,106,.40) !important;
}
.cm-header-1 {
 font-size: 215%;
}
.cm-header-2 {
 font-size: 180%;
}
.cm-header-3 {
 font-size: 150%;
}
.cm-header-4 {
 font-size: 120%;
}
.cm-header-5 {
 font-size: 100%;
}
.cm-s-default .cm-hr {
 color: #055be0;
}
div.cell.text_cell .cm-s-default .cm-header {
 font-family: sans-serif;
 font-weight: normal;
 color: #126dce;
 margin-top: 0.3em !important;
 margin-bottom: 0.3em !important;
}
div.cell.text_cell .cm-s-default span.cm-variable-2 {
 color: #353535;
}
div.cell.text_cell .cm-s-default span.cm-variable-3 {
 color: #aa22ff;
}
.cm-s-default span.cm-comment {
 color: #8d8d8d;
}
.cm-s-default .cm-tag {
 color: #009fb7;
}
.cm-s-default .cm-builtin {
 color: #e22978;
}
.cm-s-default .cm-string {
 color: #009e07;
}
.cm-s-default .cm-keyword {
 color: #713bc5;
}
.cm-s-default .cm-number {
 color: #ff8132;
}
.cm-s-default .cm-error {
 color: #055be0;
}
.cm-s-default .cm-link {
 color: #ff7823;
}
.cm-s-default .cm-atom {
 color: #ff8132;
}
.CodeMirror-cursor {
 border-left: 2px solid #ff711a !important;
 border-right: none;
 width: 0;
}
.cm-s-default div.CodeMirror-selected {
 background: #e0e1e3;
}
.cm-s-default .cm-selected {
 background: #e0e1e3;
}
.completions {
 position: absolute;
 z-index: 110;
 overflow: hidden;
 border: medium solid rgba(240,147,43,.50);
 box-shadow: none;
 line-height: 1;
}
.completions select {
 background: #efefef;
 background-color: #efefef;
 outline: none;
 border: none;
 padding: 0px;
 margin: 0px;
 margin-left: 2px;
 overflow: auto;
 font-family: monospace, monospace;
 font-size: 11pt;
 color: #303030;
 width: auto;
}
div#maintoolbar {
 margin-left: 8px !important;
}
/*
#header-container {
 display: none !important;
}
*/
/**********************************
 MathJax Settings and Style Script
**********************************/
.MathJax_Display,
.MathJax nobr>span.math>span {
    border: 0 !important;
    font-size: 110% !important;
    text-align: center !important;
    margin: 0em !important;
}
/* Prevents MathJax from jittering */
/* cell position when cell is selected */
.MathJax:focus, body :focus .MathJax {
    display: inline-block !important;
}

<script>
    MathJax.Hub.Config({
        "HTML-CSS": {
            /*preferredFont: "TeX",*/
            availableFonts: ["TeX", "STIX"],
            styles: {
                scale: 110,
                ".MathJax_Display": {
                    "font-size": "110%",
                }
            }
        }
    });
</script>

